@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;

}
.link {
    font-family: 'Raleway';
    font-size: 20px;
    color: rgb(64, 64, 64);
    margin: 0 8px;

}


.link:hover{
color: rgb(218, 165, 32);
}

#daniel {
    font-family: 'Raleway';
    font-size: 26px;
    color: rgb(64, 64, 64);
    font-weight: bold;

}

#daniel:hover{
color: rgb(218, 165, 32);
}


  
.typing p{
    margin: 25px 25px;
    border-right: 2px solid white;
    font-family: "Segoe UI";
    color: white;
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
  }
  
.typing p:nth-child(1){
    opacity: 0;
    width: 95px;
    animation: type1 0.64s steps(9, end);
    animation-fill-mode: forwards;
  }
  
.typing p:nth-child(2){
  opacity: 0;
    width: 220px;
    animation: type2 1.2s 0.64s steps(16, end);
    animation-fill-mode: forwards;
  }
  
  .typing p:nth-child(3){
    opacity: 0;
    width: 478px;
    animation: 
      type3 2.5s 1.84s steps(34, end), 
      cursor 1s step-end infinite alternate;
    animation-fill-mode: forwards;
  }
  
  @keyframes type1{ 
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: 2px solid white;}
    100% {
      border: none;
      opacity: 1;
    }
  } 

  @keyframes type2{ 
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: 2px solid white;}
    100% {
      border: none;
      opacity: 1;
    }
  } 

  @keyframes type3{ 
    0% {width: 0;}
    1% {opacity: 1;}
    100% {
      border-right: 2px solid white; 
      opacity: 1;
    }
  } 
 
@keyframes cursor{
  50% {border-color: transparent;}
}
  

.parallax {
  /* The image used */
  background-image: url("img_parallax.png");

  /* Set a specific height */
  min-height: 800px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottom {
    height: 1000px;
    background-color:white;
    font-size:36px;
}

@media only screen and (max-width: 768px) {
    #nav {
        margin: 0 0px;
    }  
}