@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background-color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-right: 120px;
    margin-left: 120px;

}
.link {
    font-family: 'Raleway';
    font-size: 20px;
    color: rgb(64, 64, 64);
    margin: 0 8px;

}


.link:hover{
color: rgb(218, 165, 32);
}

#daniel {
    font-family: 'Raleway';
    font-size: 26px;
    color: rgb(64, 64, 64);
    font-weight: bold;

}

#daniel:hover{
color: rgb(218, 165, 32);
}


  
  p{
    color: black; 
    font-family: "Raleway";
    font-size: 36px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    animation: type 0.5s steps(6, end); 
    border-right: 2px solid black;
  }
  
  p:nth-child(2){
    animation: type2 1.2s steps(16, end);
    width: 212px;
  }
  
  p:nth-child(3){
    animation: type2 3s steps(34, end);
    width: 530px;
  }
  
  
  @keyframes type{ 
    0% {width: 0;}
    100% { width: 100; } 

  } 
  
  @keyframes type2{
    0%{width: 0;}
    100%{ width: 100; } 
  } 
  
  @keyframes blink{
    to{opacity: .0;}
  }
  
  ::selection{
    background: black;
  }

.parallax {
  /* The image used */
  background-image: url("img_parallax.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bottom {
    height: 1000px;
    background-color:white;
    font-size:36px;
}

@media only screen and (max-width: 768px) {
    #nav {
        margin: 0 0px;
    }  
}