@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tab {
  text-indent: 40px;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: "Raleway";
  width: 100%;
}

#main {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-appearance: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(14px + 0.5vw);
  margin-top: 50px;
  color: rgb(64, 64, 64);
}

.link {
  display: inline-block;
  color: rgb(64, 64, 64);
}

.link:hover {
  color: rgb(218, 165, 32);
  transition: all ease 0.2s;
}

.link-portfolio {
  margin-right: 1em;
}

#me {
  margin-top: calc(5vw);
  margin-left: calc(6vw);
  border-radius: 50%;
  height: calc(5vw + 65px);
  width: calc(5vw + 65px);
}

.heading {
  font-family: "Raleway";
  font-size: calc(18px + 1vw);
  color: rgb(218, 165, 32);
}

#paragraph {
  margin-left: calc(6vw);
  margin-top: 30px;
  width: calc(65vw);
}

#portfolio {
  margin-top: 50px;
  box-sizing: border-box;
}

#images {
  display: inline-block;
  border: solid 3px rgb(218, 165, 32);
  background-color: rgb(30, 30, 30);
  margin-top: 30px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  grid-gap: 20px;
}

#about-me {
  display: inline;
  display: flex;
  flex-direction: row;
}

.typing {
  margin-top: calc(4.3vw);
  margin-left: calc(4vw);
}

.typing p {
  border-right: 2px solid;
  font-family: "Open Sans";
  font-size: calc(1vw + 20px);
  white-space: nowrap;
  overflow: hidden;
}

.typing p:nth-child(1) {
  opacity: 0;
  width: 8em;
  animation: type1 1.3s 1s steps(20, end);
  animation-fill-mode: forwards;
}

.typing p:nth-child(2) {
  opacity: 0;
  width: 8em;
  animation: type2 1.4s 2.3s steps(20, end);
  animation-fill-mode: forwards;
}

.typing p:nth-child(3) {
  opacity: 0;
  width: 9.3em;
  animation: type3 1.5s 3.7s steps(21, end),
    cursor 1s step-end infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes type1 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 2px solid;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 2px solid;
  }
  100% {
    border: none;
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    border-right: 2px solid;
    opacity: 1;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.parallax {
  color: rgb(240, 240, 240);
  margin-top: 30px;
  border: solid 3px rgb(218, 165, 32);
  background-image: url("./images/css_mobile.png");

  /* The image used */

  /* Set a specific height */
  height: 600px;

  /* Create the parallnameax scrolling effect */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide-mobile {
  display: none;
}

#portfolio-content {
  flex-direction: column;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.preview {
  height: auto;
  position: relative;
  color: white;
  width: 100%;
  margin-bottom: 30px;
  font-family: "Raleway";
  font-size: 1em;
  display: grid;
  grid-template-columns: 60% auto;
  transition: all ease 0.5s;
  border: solid 3px rgb(218, 165, 32);
}

.preview p {
  font-size: calc(14px + 0.5vw);
  margin-right: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 2em;
}

.preview-link {
  margin-right: 0.2em;
  margin-left: 0.2em;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: calc(20px + 0.5vw);
}

.preview-link:hover {
  text-decoration: underline;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.launch {
  font-size: 1em;
  text-align: center;
  width: 35%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 20%;
  border-radius: 6px;
  font-family: "Raleway";
  font-size: 20px;
  border: solid 3px rgb(218, 165, 32);
  background-color: rgb(218, 165, 32);
  position: relative;
  left: 50%;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(102, 127, 153);
}

#container1 {
  position: relative;
  width: 100%;
}

#container2 {
  position: relative;
  width: 100%;
}

#container3 {
  position: relative;
  width: 100%;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #faa1e1;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1975d2;
}

.preview h3 {
  font-size: 1em;
}

.davinci {
  background-color: rgb(102, 127, 153);
}

.ice-cream {
  background-color: rgb(250, 161, 225);
}

.crm {
  background-color: #1975d2;
}

.list {
  font-family: "Raleway";
  margin-left: 20px;
}

ul {
  list-style: none;
}
#contact-form {
  display: flex;
  justify-content: center;
  border: solid 3px rgb(218, 165, 32);
  margin-top: 30px;
  background-color: #555555;
}

#contact-heading {
  margin-top: 50px;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.text {
  border: solid 3px #555555;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 8%;
  border-radius: 6px;
  font-size: 20px;
  font-family: "Raleway";
  color: black;
}

.text::placeholder {
  font-family: "Raleway";
  font-size: 20px;
  color: rgb(127, 127, 127);
}

.text:hover {
  border: solid 3px rgb(218, 165, 32);
  transition: all ease 0.2s;
}

.text:focus {
  border: solid 3px rgb(218, 165, 32);
  transition: all ease 0.2s;
}
.text:focus {
  outline: none;
}

.textarea {
  padding-bottom: 100px;
}

#name {
  margin-top: 30px;
}

#button-submit {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: right;
}

.submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  font-family: "Raleway";
  font-size: 20px;
  color: white;
  border: solid 3px rgb(218, 165, 32);
  background-color: transparent;
}

.submit:hover {
  color: black;
  background-color: rgb(218, 165, 32);
  transition: all ease 0.2s;
}

.submit:focus {
  outline: none;
}

.row {
  margin-bottom: 0.3em;
  width: 100%;
  text-align: center;
}

.connect-links {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.technologies {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.technologies img {
  height: 2em;
  margin: 0 0.5em;
}
.connect-links img {
  height: 2em;
  margin: 0 0.5em;
}

.bottom {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1030px) {
  .parallax {
    background-image: url("./images/css_desktop.png");
  }
}

@media screen and (min-width: 670px) {
  #paragraph {
    width: calc(60vw);
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .parallax {
    background-image: url("./images/css_medwindow.png");
  }

  .hide-mobile {
    display: inline;
  }

  .hide-desktop {
    display: hide;
  }

  #portfolio-content {
    flex-direction: row;
  }

  .preview {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .preview p {
    font-size: calc(10px + 0.5vw);
    margin-right: 0.2em;
    margin-left: 0.2em;
    margin-bottom: 2em;
  }

  .launch {
    font-size: 1.2em;
    background-color: transparent;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-left: 5%;
    padding-right: 5%;
    width: auto;
    margin-bottom: auto;
  }

  .launch:hover {
    background-color: rgb(218, 165, 32);
    transition: 0.2s ease;
  }

  #container1 {
    margin-bottom: 6em;
    width: 100%;
  }

  #container2 {
    width: 90%;
    margin: 0 auto;
  }

  #container3 {
    margin-bottom: 6em;
    width: 100%;
  }

  .technologies img {
    height: 2em;
  }

  #container1:hover .overlay1 {
    opacity: 0.8;
  }

  #container1:hover .launch {
    opacity: 1;
  }

  #container2:hover .overlay2 {
    opacity: 0.8;
  }

  #container2:hover .launch {
    opacity: 1;
  }

  #container3:hover .overlay3 {
    opacity: 0.8;
  }

  #container3:hover .launch {
    opacity: 1;
  }

  .preview-link {
    font-size: calc(15px + 0.5vw);
  }
}

@media screen and (max-width: 465px) {
  .preview {
    height: auto;
    display: flex;
    flex-direction: column;
    height: none;
  }

  .launch {
    font-size: 1.1em;
    width: 50%;
    left: 25%;
    margin-bottom: auto;
  }

  .technologies img {
    height: 2.5em;
  }

  #container1 {
    margin-bottom: 5em;
    margin-top: 2em;
  }

  #container2 {
    margin-bottom: 4em;
    margin-top: 2em;
  }

  #about-me {
    flex-direction: column;
    justify-content: space-around;
  }
}
