@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    width: 100%;
}
body {
    background-color: white;
    font-family: 'Raleway';
    width: 100%;
}

#main {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    -webkit-appearance: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;


}
.link {
    display: inline-block;
    font-family: 'Raleway';
    font-size: calc(14px + 0.5vw);
    color: rgb(64, 64, 64);


}

.link-portfolio {
  margin-right: 1em;

}


.link:hover{
  color: rgb(218, 165, 32);
  text-decoration: underline;
        transition: all ease .2s;

}

.heading {
    font-family: 'Raleway';
    font-size: calc(18px + 1vw);
    color: rgb(218, 165, 32);

}

#paragraph {
  margin-left: calc(6vw);
  margin-right: calc(30vw);
  margin-top: 30px;
  color: white;
}



.thumbnail {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;

}

#portfolio {
    margin-top: 50px;
    box-sizing: border-box;

}

#images {
  display: inline-block;
    border: solid 4px rgb(218, 165, 32);
    background-color: rgb(30,30,30);
    margin-top: 30px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    grid-gap: 20px;


}

.typing {
  margin-top: calc(5vw);
  margin-left: calc(6vw);
  
}
  
.typing p{
    border-right: 2px solid white;
    font-family: "Open Sans";
    color: white;
    font-size: calc(1vw + 20px);
    white-space: nowrap;
    overflow: hidden;
    
  }
  
.typing p:nth-child(1){
    opacity: 0;
    width: 8em;
    animation: type1 1.3s 1s steps(19, end);
    animation-fill-mode: forwards;
  }
  
.typing p:nth-child(2){
  opacity: 0;
    width: 8em;
    animation: type2 1.4s 2.3s steps(20, end);
    animation-fill-mode: forwards;
  }
  
  .typing p:nth-child(3){
    opacity: 0;
    width: 9.3em;
    animation: 
      type3 1.5s 3.7s steps(21, end), 
      cursor 1s step-end infinite alternate;
    animation-fill-mode: forwards;
  }
  
  @keyframes type1{ 
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: 2px solid white;}
    100% {
      border: none;
      opacity: 1;
    }
  } 

  @keyframes type2{ 
    0% {width: 0;}
    1% {opacity: 1;}
    99.9% {border-right: 2px solid white;}
    100% {
      border: none;
      opacity: 1;
    }
  } 

  @keyframes type3{ 
    0% {width: 0;}
    1% {opacity: 1;}
    100% {
      border-right: 2px solid white; 
      opacity: 1;
    }
  } 
 
@keyframes cursor{
  50% {border-color: transparent;}
}
  

.parallax {
  border: solid 4px rgb(218, 165, 32);
  margin-top: 30px;
  /* The image used */

  background-image: url("./images/css_mobile.png");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallnameax scrolling effect */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#portfolio-content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preview {
  font-family: Arial;
  width: 30%;
  flex-direction: column;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: rgb(30,30,30);
  border: solid 4px rgb(30,30,30);
  color: white;
  transition: all ease .25s;
}

.preview:hover {
  border: solid 4px rgb(218, 165, 32);
}


.list {
  margin-left: 20px;
}
#contact-form {
  display: flex;
  justify-content: center;
  border: solid 4px rgb(218, 165, 32);
  margin-top: 30px;
  background-color: #555555;


}

#contact-heading {
  margin-top: 50px;
}

#contact {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.text {
  border: solid 3px #555555;;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 8%;
  border-radius: 6px;
  font-size: 20px;
  font-family: "Raleway";
  color: black;
  background-color: rgb(247, 247, 247);

}

.text::placeholder {
  font-family: "Raleway";
  font-size: 20px;
  color: rgb(127, 127, 127);
}

.text:hover {
  border: solid 3px rgb(218, 165, 32);
  transition: all ease .2s
}

.text:focus {
    border: solid 3px rgb(218, 165, 32);
      transition: all ease .2s
}
.text:focus {outline:none;
}

.textarea {
  padding-bottom: 100px;
}

#name {
  margin-top: 30px;
}

#button-submit {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: right;

}
.submit {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  font-family: "Raleway";
  font-size: 20px;
  color: white;
  border: solid 3px rgb(218, 165, 32);
  background-color: transparent;



}
.submit:hover{
  color: black;
  background-color: rgb(218, 165, 32);
      transition: all ease .2s;
}
.submit:focus {outline:none;
  
}


.row {
  margin-bottom: 0.3em;
  width: 100%;
  text-align: center;

}


#connect-links {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#connect-links img{
  height: 40px;
  margin: 0 10px;
}

@media screen and (max-width: 1030px) {
  .parallax {
  background-image: url("./images/css_medwindow.png");
  }
}

@media screen and (max-width: 670px) {
  .parallax {
  background-image: url("./images/css_smallwindow.png");
  }
  #portfolio-content {
    display: flex;
    flex-direction: column;
  }

  .preview {
    margin-top: 30px;
    flex-direction: column;
    border: solid 4px rgb(218, 165, 32);
    width: 100%;
    font-size: 20px;
    height: 400px;
  }

  .thumbnail {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
  
  }

}

